@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form asp-controller="Home" asp-action= "IndexCliente" method="post">
        
        <input  class="btn btn-danger" type="submit" value="Clientes">
            
    </form>
    </div>
    <div>
    <form asp-controller="Home" asp-action= "IndexEmpleado" method="post">
        
        <input  class="btn btn-danger" type="submit" value="Empleados">
            
    </form>
    </div>
    <div>
    <form asp-controller="Home" asp-action= "IndexProducto" method="post">
        
        <input  class="btn btn-danger" type="submit" value="Productos">
            
    </form>
    </div>
    <div>
        <form asp-controller="Home" asp-action= "IndexProveedor" method="post">
        
        <input  class="btn btn-danger" type="submit" value="Proveedores">
            
    </form>

</div>